{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<h1 class="my-4">Статусы</h1>
<a class="nav-link" href="{% url 'create_status' %}">Создать статус</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for status in statuses_list %}
    <tr>
      <td>{{ status.pk }}</td>
      <td>{{ status.name }}</td>
      <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
      <td>
        <a href="{% url 'status_update' status.pk %}">Изменить</a>
        <br>
        <a href="{% url 'status_delete' status.pk %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
