{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{% load tz %}
<h1 class="my-4">Пользователи</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in siteuser_list %}
    <tr>
      <td>{{ user.pk }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
      <td>
        <a href="{% url 'user_update' user.pk %}">Изменить</a>
        <br>
        <a href="{% url 'user_delete' user.pk %}">Удалить</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
