<!DOCTYPE html>
<html lang="en">
    <head>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Менеджер задач Hexlet</title>
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include "navigation.html" %}
        <div class="container wrapper flex-grow-1">
            {% load i18n %}
            {% bootstrap_messages %}
            {% block content %}{% endblock %}
        </div>
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>
</html>
