{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<h1 class="my-4">Задачи</h1>
<a class="nav-link" href="{% url 'create_task' %}">Создать задачу</a>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
            {% bootstrap_form filter.form field_class="mr-3 ml-2" %}
            <button class="btn btn-primary" type="submit">Показать</button>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Статус</th>
        <th>Автор</th>
        <th>Исполнитель</th>
        <th>Дата создания</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for obj in filter.qs %}
        <tr>
          <td>
            {{ obj.pk }}
          </td>
          <td>
            <a href="{% url 'task_detail' obj.pk %}">{{ obj.name }}</a>
          </td>
          <td>
            {{ obj.status }}
          </td>
          <td>
            {{ obj.creator }}
          </td>
          <td>
            {{ obj.executor }}
          </td>
          <td>{{ obj.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'task_update' obj.pk %}">Изменить</a>
            <br>
            <a href="{% url 'task_delete' obj.pk %}">Удалить</a>
          </td>
        </tr>
        {% endfor %}    
    </tbody>
</table>
{% endblock %}
