{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<h1 class="my-4">Просмотр задачи</h1>
<div class="card">
    <div class="card-header bg-secondary text-white">
        <h2>{{ tasks.name }}</h2>
    </div>
    <div class="card-body bg-light">
        <p>{{ tasks.description }}</p>
        <hr>
        <div class="container">
            <div class="row p-1">
              <div class="col">Автор</div>
              <div class="col">{{ tasks.creator }}</div>
            </div>
            <div class="row p-1">
              <div class="col">Исполнитель</div>
              <div class="col">{{ tasks.executor }}</div>
            </div>
            <div class="row p-1">
              <div class="col">Статус</div>
              <div class="col">{{ tasks.status }}</div>
            </div>
            <div class="row p-1">
              <div class="col">Дата создания</div>
              <div class="col">{{ tasks.created_at|date:'d.m.Y H:i' }}</div>
            </div>
            <div class="row p-1">
              <div class="col">
                <h6>Метки:</h6>
                {% for label in tasks.labels.all %}
                <ul>
                    <li>{{ label }}</li>
                </ul>
                {% endfor %}
              </div>
            </div>
            <div class="row p-1">
              <div class="col">
                <a href="{% url 'task_update' tasks.pk %}">Изменить</a>
                <br>
                <a href="{% url 'task_delete' tasks.pk %}">Удалить</a>
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock %}
